body {
  background-color: #282c34;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.App {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  color: white;
}

.App header {
  background-color: #181717;
  height: 70px;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App header h1 {
  display: flex;
  font-size: 24px;
}

.App header h1 img{
  margin-right: 15px;
}

.App section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(40, 37, 53);
  background:  url('https://res.cloudinary.com/dn7qsxzdf/image/upload/v1648143251/react-clone-whatsapp/bg_v0coax.jpg') repeat center;
}

main {
  padding: 10px;
  padding-top: 120px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #4caf50;
}

form {
  height: 55px;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 120px;
  background-color: #4caf50;
  border-radius: 0;
}


input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

button {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  display: flex;
  align-items:center;
  border-radius: 12px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}




ul, li {
  text-align: left;
  list-style: none;
}

.message p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}
.message img, header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
  object-fit: contain;
}

header img {
  margin: -6px 5px;  
}

.logo {
  width: 320px;
  margin:  0 auto;
}
.google-logo {
  width: 30px;
  margin-right: 10px;
}